@import 'includes/_mixins.scss';
@import 'includes/_variables.scss';

.Contact {
  /**
   * Heading
   */
  &__heading {
    @extend %heading;
  }

  /**
   * Paragraph
   */
  &__paragraph {
    @extend %paragraph;
  }

  /**
   * List
   */
  &__github,
  &__twitter {
    margin: 18px 0 40px 8px;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    > li {
      padding: 0;
    }
    &__item {
      display: block;
      padding: 11px 0 10px 58px;
      height: 30px;
      line-height: 30px;
      background-size: 26px auto;
      background-repeat: no-repeat;
      background-position: 15px center;
      font-size: $font-medium;

      > a {
        text-decoration: none;
      }
    }
  }

  /**
   * List : GitHub
   */
  &__github {
    margin-bottom: 40px;
    &__item {
      background-image: url($site-url + '/img/github-26x26@1x.png');
      background-image: image-set(
        $site-url + '/img/github-26x26@1x.png' 1x,
        $site-url + '/img/github-26x26@1x.png' 2x);
      opacity: .70;

      &__owner,
      &__name {
        margin-right: 2px;
      }
    }
  }

  /**
   * List : Twitter
   */
  &__twitter {
    &__item {
      background-image: url($site-url + '/img/twitter-26x26@1x.png');
      background-image: image-set(
        $site-url + '/img/twitter-26x26@1x.png' 1x,
        $site-url + '/img/twitter-26x26@1x.png' 2x);
      opacity: .88;
    }
  }
}

