<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ siteUrl }}/style.css">
    <title></title>
  </head>
  <body class="Appview">
    <div class="AppView__wrapper">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
