{% extends 'base.j2' %}

{% block body %}
  <div class="Contact">
    <h1 class="Contact__heading">{{ Contact.heading }}</h1>

    <p class="Contact__paragraph">{{ Contact.github_issues_description }}</p>
    <ul class="Contact__github">
      <li>
        <a href="https://github.com/emoji-gen/app-android/issues" class="Contact__github__item">
          <span class="Contact__github__item__owner">emoji-gen</span> /
          <span class="Contact__github__item__name">app-android</span>
        </a>
      </li>
    </ul>

    <p class="Contact__paragraph Contact__paragraph--twitter">{{ Contact.twitter_description }}</p>
    <ul class="Contact__twitter">
      <li>
        <a href="https://twitter.com/emoji-gen" class="Contact__twitter__item">@emoji-gen</a>
      </li>
    </ul>
  </div>
{% endblock %}
