{% extends 'base.j2' %}

{% block body %}
  <div class="Privacy">
    <h1 class="Privacy__heading">{{ Privacy.heading }}</h1>

    <p class="Privacy__paragraph">{{ Privacy.preface }}</p>

    <h2>{{ Privacy.section1_heading }}</h2>
    <p>{{ Privacy.section1_description }}</p>
    <ul>
      <li>{{ Privacy.section1_items1 }}</li>
      <li>{{ Privacy.section1_items2 }}</li>
    </ul>

    <h2>{{ Privacy.section2_heading }}</h2>
    <p>{{ Privacy.section2_description }}</p>
    <ul>
      <li>{{ Privacy.section2_items1 }}</li>
      <li>{{ Privacy.section2_items2 }}</li>
      <li>{{ Privacy.section2_items3 }}</li>
    </ul>
  </div>
{% endblock %}
