<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="style.min.css">
    <title></title>
  </head>
  <body class="appview">
    <div class="appview__wrapper">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
